<!DOCTYPE html>
<html lang="en"
>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>

    <title>Task Timer: Completed Template</title>
</head>

<body class="p-4">

<div id="task-toggler"
     class="p-2">
    <h1 class="font-bold text-3xl text-gray-600">
        Task Timer
    </h1>
    <p class="text-sm text-black p-4">
        Current State: (always) Completed
    </p>
</div>

</body>
</html>
